/* Universal Styles */
body {
    margin: 0px;
    background-color: WhiteSmoke;
    font-family: 'Rock Salt', cursive;
    text-align: center;
  }
  
  .secondary-background {
    background-color: Snow;
  }
  
  .tagline {
    font-family: 'Quicksand', sans-serif;
    color: LightSlateGrey;
    line-height: 125px;
  }
  
  /* Header */
  h1 {
    margin: 0;
    background-color: SkyBlue;
    line-height: 100px;
    color: Khaki;
  }
  
  h2 {
    margin: 10px;
  }
  
  /* App Container */
  .container {
    display: flex; /* Task: Set the display value of elements with a class of container to flex. */
    border: 2px solid Snow;
  }
  
  /* To Do Section */
  .week {
    display: inline-flex; /* Task: Set the display value of elements with a class of week to inline-flex. */
    flex-direction: column; /* Task: Set the week class elements to have a column flex-direction. */
    flex-wrap: wrap; /* Task: Use the flex-wrap property to wrap elements with class row. */
  }
  
  .row {
    min-height: 200px;
    display: flex;
    justify-content: space-around; /* Task: Set the justify-content property of elements with a class of row to space-around. */
    align-items: center; /* Task: Set the align-items property of elements with a class of row to center. */
  }
  
  .square {
    display: flex; /* Task: Set the display value of elements with a class of square to flex. */
    width: 125px;
    height: 125px;
    padding: 10px;
    justify-content: center; /* Task: Set the justify-content property of elements with a class of square to center. */
    align-items: center; /* Task: Set the align-items property of elements with a class of square to center. */
  }
  
  .day.square {
    background-color: SkyBlue;
    border: 1px solid white;
  }
  
  .task.square {
    background-color: Khaki;
    border: 1px solid white;
    flex-grow: 3; /* Task: Set the flex-grow value of elements with a class of week to 3. */
  }
  
  .task p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 12px;
  }
  
  /* Reminders */
  .reminders {
    background-color: Khaki;
    flex-grow: 2; /* Task: Set the flex-grow value of elements with a class of reminders to 2. */
  }
  
  .reminders h3 {
    width: 100%;
    margin: 10px;
    color: black;
    line-height: 90px;
    font-size: 24px;
  }
  
  /* Footer */
  footer {
    font-size: 24px;
  }
  